{% extends 'base.html.twig' %}

{% block title %}CSS - Update{% endblock %}

{% block body %}

<h2 class="padding-bottom-none">Formulaire CSS</h2>

<div class="hr"></div>

<h2>Modifier CSS</h2>

{{ form_start(updateFormCss) }}

    {# Flash Messages #}
    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {# Flash Messages #}
    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p>{{ message }}</p>
            {{ form_errors(updateFormCss.name) }}
        </div>
    {% endfor %}

    <div class="card">

        <div>
            {{ form_label(updateFormCss.name) }}
            {{ form_widget(updateFormCss.name) }}
        </div>

        <div>
            {{ form_label(updateFormCss.submit) }}
            {{ form_widget(updateFormCss.submit) }}
        </div>

    </div>

{{ form_end(updateFormCss) }}

{% endblock %}