{% extends 'base.html.twig' %}

{% block title %}HTML{% endblock %}

{% block body %}

<h2>Formulaire HTML</h2>

{{ form_start(createFormHtml) }}

    {# Flash Messages #}
    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {# Flash Messages #}
    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p>{{ message }}</p>
            {{ form_errors(createFormHtml.name) }}
        </div>
    {% endfor %}

    <div>
        {{ form_label(createFormHtml.name) }}
        {{ form_widget(createFormHtml.name) }}
    </div>

    <div>
        {{ form_label(createFormHtml.submit) }}
        {{ form_widget(createFormHtml.submit) }}
    </div>

{{ form_end(createFormHtml) }}

<div class="hr"></div>

<h2>Données HTML</h2>

{% for readHtml in readHtml %}
    <div class="card">
        <div>
            <p>{{ readHtml.name }}</p>
        </div>
        <div class="margin-top-min">
            <a class="button-send margin-right-min" href="{{ path('app_html_update', { id: readHtml.id }) }}">Modifier</a>
            <a class="button-send margin-left-min" href="{{ path('app_html_delete', { id: readHtml.id }) }}">Supprimer</a>  
        </div>
    </div>
{% endfor %}

{% endblock %}