{% extends 'base.html.twig' %}

{% block title %}HTML - Update{% endblock %}

{% block body %}

<h2 class="padding-bottom-none">Formulaire HTML</h2>

<div class="hr"></div>

<h2>Modifier HTML</h2>

{{ form_start(updateFormHtml) }}

    {# Flash Messages #}
    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {# Flash Messages #}
    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p>{{ message }}</p>
            {{ form_errors(updateFormHtml.name) }}
        </div>
    {% endfor %}

    <div class="card">

        <div>
            {{ form_label(updateFormHtml.name) }}
            {{ form_widget(updateFormHtml.name) }}
        </div>

        <div>
            {{ form_label(updateFormHtml.submit) }}
            {{ form_widget(updateFormHtml.submit) }}
        </div>

    </div>

{{ form_end(updateFormHtml) }}

{% endblock %}